########################
# Python
########################
__pycache__/
*.py[cod]
*$py.class

########################
# Virtual Environment
########################
venv/
.env/
.venv/

########################
# Environment Variables
########################
.env

########################
# IDE
########################
.vscode/
.idea/

########################
# Logs
########################
*.log

########################
# Temporary files
########################
temp/
tmp/

########################
# OS
########################
.DS_Store
Thumbs.db

########################
# Python cache
########################
.pytest_cache/
.mypy_cache/

########################
# Git
########################
.git/

########################
# Windows Tesseract
########################
instance/

########################
# Windows FFmpeg
########################
models/ffmpeg/

########################
# Build
########################
dist/
build/

########################
# Jupyter
########################
.ipynb_checkpoints/